*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  /*스크롤바 숨기기 */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Chrome, Safari, Opera에서 스크롤바 숨기기 */
*::-webkit-scrollbar {
  display: none;
}

/* 버튼, 링크 등 클릭 요소의 기본 스타일 제거 */
button,
a,
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-decoration: none;
}

/* 버튼 클릭시 파란색 배경 제거 */
button:focus,
a:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* iOS에서 버튼 클릭시 회색 배경 제거 */
button {
  -webkit-tap-highlight-color: transparent;
}

/* 이미지 기본 스타일 제거 */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* 리스트 스타일 제거 */
ul,
ol {
  list-style: none;
}

/* 테이블 기본 스타일 제거 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: sans-serif;
  line-height: 1;
  color: "#121212";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html,
body,
#root {
  font-size: 20px;
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root {
  isolation: isolate;
}
