/*Bold*/
@font-face {
  font-family: "helvetica";
  src: url("/fonts/helveticanowtext-bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "integralCF";
  src: url("/fonts/Fontspring-DEMO-integralcf-regular.otf") format("opentype");
}

/*thin*/
@font-face {
  font-family: "satoshi";
  src: url("/fonts/Satoshi.ttf") format("truetype");
}

/*필기체*/
@font-face {
  font-family: "PPPlayground";
  src: url("/fonts/PPPlayground-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PPEditorialNew";
  src: url("/fonts/PPEditorialNew-Ultralight.otf") format("opentype");
}

@font-face {
  font-family: "PPEditorialOld";
  src: url("/fonts/PPEditorialOld-Ultralight.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PPEditorialOldItalic";
  src: url("/fonts/PPEditorialOld-UltralightItalic.otf") format("opentype");
}

/*한글*/
@font-face {
  font-family: "SUITRegular";
  src: url("/fonts/SUIT-Regular.woff2") format("woff2");
}
